<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/AAD_05D_ConsultasHibernate/src/inicio/aad_5D_masimeon.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="inicio.aad_5D_masimeon"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="AAD_05D_ConsultasHibernate"/>
</launchConfiguration>
