<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/AAD_02A_DOM_XML/src/inicio/aad_02a.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="inicio.aad_02a"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="AAD_02A_DOM_XML"/>
</launchConfiguration>
