<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/SYP_T02_ACT04_3 - Implementa método en varios hilos/src/inicio/sypt2act43.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="inicio.sypt2act43"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="SYP_T02_ACT04_3 - Implementa método en varios hilos"/>
</launchConfiguration>
